
@media (max-width: 1230px) {
    .login-form {
      width: 350px;
      margin-right: 50px;
    }
    .left-intro {
      max-width: 40%;
      margin-left: 100px;
    }
  }
  
  @media (max-width: 980px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .login-form {
      width: 90%;
      max-width: 400px;
      margin-right: 0;
      margin-bottom: 20px;
    }
    
    .left-intro {
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      text-align: center;
      display: none;
    }
  }
  
@media (max-width: 768px) {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 2%;
    }
  
    .left-intro {
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      text-align: center;
      display: none;
    }
    .login-form {
      width: 100%;
      max-width: 400px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }