html {
    font-size: 62.5%;
}

.app {
    background: url("../img/dir7dce-34ec4094-c1c4-4b67-a4e2-41bb05728f4a.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.app h1 {
    font-size: 20rem;
    margin-bottom: 12.8rem;
}

.app__content {
    display: flex;
    gap: 10rem;
    margin-bottom: 2rem;
    font-size: 6.4rem;
}
.app__content .btn {
    padding: 2rem 3.6rem;
    background: rgba(
        255,
        255,
        255,
        0.3
    ); /* Changed to a semi-transparent orange color */
    color: #fff; /* Text color remains white */
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.app__content .btn:hover {
    background: rgba(
        255,
        255,
        255,
        0.5
    ); /* Darker semi-transparent orange on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}
