<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ForumEventFilter</filter-name>
        <filter-class>filter.ForumFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MemberFilter</filter-name>
        <filter-class>filter.MemberFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ForgotFilter</filter-name>
        <filter-class>filter.ForgotFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/view/calendar.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForumEventFilter</filter-name>
        <url-pattern>/view/forum.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberFilter</filter-name>
        <url-pattern>/CalendarServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForgotFilter</filter-name>
        <url-pattern>/view/resetPassword.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>controller.CalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessengerServlet</servlet-name>
        <servlet-class>controller.MessengerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendOTPServlet</servlet-name>
        <servlet-class>controller.ResendOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskAssignedByMeServlet</servlet-name>
        <servlet-class>controller.TaskAssignedByMeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskAssignedToMeServlet</servlet-name>
        <servlet-class>controller.TaskAssignedToMeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationServlet</servlet-name>
        <servlet-class>controller.InformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>controller.EventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForumServlet</servlet-name>
        <servlet-class>controller.ForumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>controller.MemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscoveryServlet</servlet-name>
        <servlet-class>controller.DiscoveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSettingServlet</servlet-name>
        <servlet-class>controller.UserSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateClubServlet</servlet-name>
        <servlet-class>controller.CreateClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePassword</servlet-name>
        <servlet-class>controller.UserChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestClubServlet</servlet-name>
        <servlet-class>controller.RequestClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterMember</servlet-name>
        <servlet-class>controller.FilterMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/CalendarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessengerServlet</servlet-name>
        <url-pattern>/MessengerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendOTPServlet</servlet-name>
        <url-pattern>/ResendOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskAssignedByMeServlet</servlet-name>
        <url-pattern>/TaskAssignedByMeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskAssignedToMeServlet</servlet-name>
        <url-pattern>/TaskAssignedToMeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationServlet</servlet-name>
        <url-pattern>/InformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/EventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumServlet</servlet-name>
        <url-pattern>/ForumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/MemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscoveryServlet</servlet-name>
        <url-pattern>/DiscoveryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OTPService</servlet-name>
        <servlet-class>controller.OTPService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>controller.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPVerificationServlet</servlet-name>
        <servlet-class>controller.OTPVerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OTPService</servlet-name>
        <url-pattern>/OTPService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPVerificationServlet</servlet-name>
        <url-pattern>/OTPVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSettingServlet</servlet-name>
        <url-pattern>/UserSettingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateClubServlet</servlet-name>
        <url-pattern>/CreateClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePassword</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestClubServlet</servlet-name>
        <url-pattern>/RequestClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterMember</servlet-name>
        <url-pattern>/filtermember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
</web-app>
