<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <!-- <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/view/calendar.jsp</url-pattern>
        <url-pattern>/view/event.jsp</url-pattern>
        <url-pattern>/view/forum.jsp</url-pattern>
        <url-pattern>/view/homePage.jsp</url-pattern>
        <url-pattern>/view/information.jsp</url-pattern>
        <url-pattern>/view/member.jsp</url-pattern>
        <url-pattern>/view/taskAssignedByMe.jsp</url-pattern>
        <url-pattern>/view/taskAssignedToMe.jsp</url-pattern>
        <url-pattern>/view/otp.jsp</url-pattern>
    </filter-mapping> -->
    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>controller.CalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessengerServlet</servlet-name>
        <servlet-class>controller.MessengerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendOTPServlet</servlet-name>
        <servlet-class>controller.ResendOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationServlet</servlet-name>
        <servlet-class>controller.InformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>controller.EventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForumServlet</servlet-name>
        <servlet-class>controller.ForumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>controller.MemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/CalendarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessengerServlet</servlet-name>
        <url-pattern>/MessengerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendOTPServlet</servlet-name>
        <url-pattern>/ResendOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationServlet</servlet-name>
        <url-pattern>/InformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/EventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumServlet</servlet-name>
        <url-pattern>/ForumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/MemberServlet</url-pattern>
    </servlet-mapping>
</web-app>
