<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>controler.CalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controler.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessengerServlet</servlet-name>
        <servlet-class>controler.MessengerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/CalendarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessengerServlet</servlet-name>
        <url-pattern>/MessengerServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>view/discovery.jsp</url-pattern>
    </filter-mapping>
</web-app>
